<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

</head>
<body>
<!-- 注册窗口 -->
<div id="register" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color:#e5e5e5">
            <div class="modal-body">
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-title">
                <h1 class="text-center" style="color: #0d79d1">加入 Gossip</h1>
            </div>
            <div class="modal-body">
                <form class="form-group">
                    <div class="form-group">
                        <label for="" >用户名</label><span id="span_1"></span>
                        <input name="username" class="form-control" maxlength="15" type="text" placeholder="6-15位字母或数字,或者2-7个汉字"/>
                    </div>
                    <div class="form-group">
                        <label for="">密码</label><span id="span_2"></span>
                        <input name="password" class="form-control" type="password" placeholder="至少6位字母或数字"/>
                    </div>
                    <div class="form-group">
                        <label for="">再次输入密码</label><span id="span_3"></span>
                        <input name="password2" class="form-control" type="password" placeholder="至少6位字母或数字"/>
                    </div>
                    <div class="form-group">
                        <label for="">电话号码</label><span id="span_4"></span>
                        <input name="phone" class="form-control" type="text" maxlength="11" placeholder="13888888888"/>
                    </div>
                    <div class="form-group">
                        <label for="">邮箱</label><span id="span_5"></span>
                        <input name="email" class="form-control" type="email" placeholder="例如:123@123.com"/>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary" type="submit">提交</button>
                        <button class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>
                    <a href="javascript:;" id="login_a" data-toggle="modal" data-dismiss="modal" data-target="#login">已有账号？点我登录</a>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 登录窗口 -->
<div id="login" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color:#e5e5e5 ">
            <div class="modal-body">
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-title">
                <h1 class="text-center" style="color: #0d79d1">登录 Gossip</h1>
            </div>
            <div class="modal-body">
                <form class="form-group" id="login_form">
                    <div class="form-group">
                        <label for="">账号(用户名/电话号码/邮箱)</label><span id="login_1"></span>
                        <input class="form-control" name="login_username" type="text" placeholder=""/>
                    </div>
                    <div class="form-group">
                        <label for="">密码</label><span id="login_2"></span>
                        <input class="form-control" name="login_password" type="password" placeholder=""/>
                    </div>
                    <div class="checkbox">
                        <label> <input type="checkbox" name="login_rem" value="true"/>记住我</label>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary" type="submit">登录</button>
                        <button class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>

                    <a id="register_a" href="javascript:;" data-toggle="modal" data-dismiss="modal" data-target="#register">还没有账号？点我注册</a>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>